#item_ui{
    top:-210px;
    position: absolute;
    z-index:1000;
}

#item_ui #item_contain{
    position:absolute;
    top:17px;
    left:45px;

}

#item_ui #item_contain img{
    float:left;
    width:80px;
    height:80px;
    margin-right:12.5px;
    margin-bottom:1px;
/*     background:#2a5d8852; */

}

#findgame_button{
    position:absolute;
    z-index: 10000;
    top: 10px;
    left:950px;
}

#certi_buttin{
    position:absolute;
    z-index: 10000;
    top: 10px;
    left: 902px;
}